body {
	background-color: #e1e3e3;
}

.main-header {
	position: absolute;
	top: 13vh;
	left: 0;
	width: 100%;
	height: 20px;
}


#main-text {
	font-family: cocomatL;
	text-align: center;
	margin: 0;
}
