
.navbar-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 15px;
	background-color: #292929;
	text-align: center;

}

.navbar-items {
	margin: 0;
	list-style-type: none;
}

.navbar-item  {
	position: relative;
	display: inline-block;
	margin: 0px 15px 0px 15px;
}

.navbar-item::after {
	content: "";
	background-color: white;
	position: absolute;
	width: 0px;
	height: 2px;
	left: -10px;
	top: 40px;
	transition: 0.5s;
}

.navbar-item:hover::after {
	width: calc(100% + 20px);
}

.navbar-item a {
	font-family: softwareTester;
	font-size: 30px;
	text-decoration: none;
	color: whitesmoke;

}

.
